.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
}

.item {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 5px; /* Adjust the padding here */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item-table h2 {
  text-align: center;
}
.App{
  background-color: #f7f7f7;
}
